<a href="https://colab.research.google.com/github/jyothiAadhya/Python-programming-exercises/blob/master/%5BExercises_5%5DPandas_Concat_Append_Merge_Joins.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![sslogo](https://github.com/stratascratch/stratascratch.github.io/raw/master/assets/sslogo.jpg)

#### The make_df helper function will be used to generate DataFrames

In [ ]:
def make_df(cols, ind):
    """Quickly make a DataFrame"""
    data = {c: [str(c) + str(i) for i in ind]
            for c in cols}
    return pd.DataFrame(data, ind)

#### For results requiring multiple tables, use the display class to format your results

In [ ]:
class display(object):
    """Display HTML representation of multiple objects"""
    template = """<div style="float: left; padding: 10px;">
    <p style='font-family:"Courier New", Courier, monospace'>{0}</p>{1}
    </div>"""
    def __init__(self, *args):
        self.args = args
        
    def _repr_html_(self):
        return '\n'.join(self.template.format(a, eval(a)._repr_html_())
                         for a in self.args)
    
    def __repr__(self):
        return '\n\n'.join(a + '\n' + repr(eval(a))
                           for a in self.args)

# Combining Datasets: Concat and Append

## Simple Concatenation with ``pd.concat``

In [ ]:
ser1 = pd.Series(['A', 'B', 'C'], index=[1, 2, 3])
ser2 = pd.Series(['D', 'E', 'F'], index=[4, 5, 6])

#### Concatenate ser1 and ser2

In [ ]:
df1 = make_df('AB', [1, 2])
df2 = make_df('AB', [3, 4])
df3 = make_df('CD', [5, 6])

display('df1', 'df2', 'df3')

#### Concatenate df1's and df2's rows

#### Concatenate df1's and df2's columns

### Duplicate indices

#### The following concatenation createst a table with repeated indexes. This is an issue that should always be avoided!

In [ ]:
x = make_df('AB', [0, 1])
y = make_df('AB', [2, 3])
y.index = x.index
display('x', 'y', 'pd.concat([x, y])')

#### Cause the concatenation of x and y to throw an error with the verify_integrity parameter and catch the error. Print a fitting error message

#### Concatenate x and y. Avoid an overlapping index error by creating a multiindex key

#### Concatenate x and y. Avoid an overlapping index error by ignoring the original indexes

### Concatenation with joins

#### The statements below show the default behavior of pd.concat on DataFrames. What type of join is the default? Add a join parameter with the default join type

In [ ]:
df5 = make_df('ABC', [1, 2]) 
df6 = make_df('BCD', [3, 4])
display('df5', 'df6', 'pd.concat([df5, df6], sort=False)')

#### Perform the above concatenation using the append method

Remember: the append method is the specific case (axis=0, join='outer') of the concat method, the parameters cannot be modified

#### Concatenate df5 and df6 only keeping the columns from both tables

# Combining Datasets: Merge and Join

#### The worker, title, and bonus tables are from a relational database.

In [ ]:
#import worker.csv, title.csv, bonus.csv from dataset folder below
#https://bit.ly/3gsZdUS

#name dataframe with same variable names as below
display('worker', 'title', 'bonus')

#### The employee DataFrames are part of a seperate relational database

In [ ]:
employee_group = pd.DataFrame({'employee': ['Bob', 'Jake', 'Lisa', 'Sue'],
                    'group': ['Accounting', 'Engineering', 'Engineering', 'HR']})
employee_hire_date = pd.DataFrame({'employee': ['Lisa', 'Bob', 'Jake', 'Sue'],
                    'hire_date': [2004, 2008, 2012, 2014]})
display('employee_group', 'employee_hire_date')

### One-to-one joins

#### Merge the employee_group and employee_hire_data tables

#### Merge the worker and title tables

### Many-to-one joins

In [ ]:
employee_supervisor = pd.DataFrame({'group': ['Accounting', 'Engineering', 'HR'],
                                    'supervisor': ['Carly', 'Guido', 'Steve']})
employee_supervisor

#### Merge the employee_group and employee_supervisor tables

#### Merge the worker and bonus tables.

### Many-to-many joins

In [ ]:
employee_skills = pd.DataFrame({'group': ['Accounting', 'Accounting',
                                  'Engineering', 'Engineering', 'HR', 'HR'],
                                'skills': ['math', 'spreadsheets', 'coding', 'linux',
                                  'spreadsheets', 'organization']})
employee_skills

#### Merge the employee_group and employee_skill tables

## Specification of the Merge Key

In [ ]:
employee_salary = pd.DataFrame({'name': ['Bob', 'Jake', 'Lisa', 'Sue'],
                                'salary': [70000, 80000, 120000, 90000]})
employee_salary

#### Merge the employee_group and employee_hire_date tables and specify the employee column to join on. Assign the resulting table to employees

In [ ]:
employees = 
employees

#### Merge the employees and employee_supervisor tables and specify the group column to join on

#### Merge the employees and employee_salary tables

___

In [ ]:
worker_indexed = worker.set_index('worker_id')
title_indexed = title.set_index('worker_ref_id')

display('worker_indexed', 'title_indexed')

In [ ]:
employee_group_indexed = employee_group.set_index('employee')
employee_group_indexed

#### Merge the worker_indexed and title_indexed tables

#### Merge the employee_group_indexed and employee_hire_date tables

## Specifying Set Arithmetic for Joins

In [ ]:
food = pd.DataFrame({'name': ['Peter', 'Paul', 'Mary'],
                    'food': ['fish', 'beans', 'bread']},
                   columns=['name', 'food'])
drinks = pd.DataFrame({'name': ['Mary', 'Joseph'],
                    'drink': ['wine', 'beer']},
                   columns=['name', 'drink'])

display('food', 'drinks')

#### What is the default join type when using the merge method? Add a 'how' parameter with the default join type

#### Merge the food and drinks tables leaving all names from both tables in

#### Merge food and drinks leaving only rows that have a defined food

#### Merge food and drinks leaving only row that have a defined drink

## Overlapping Column Names: The ``suffixes`` Keyword

Finally, you may end up in a case where your two input ``DataFrame``s have conflicting column names.
Consider this example:

In [ ]:
df1 = pd.DataFrame({'name': ['Bob', 'Jake', 'Lisa', 'Sue'],
                    'rank': [1, 2, 3, 4]})
df2 = pd.DataFrame({'name': ['Bob', 'Jake', 'Lisa', 'Sue'],
                    'rank': [3, 1, 4, 2]})
display('df1', 'df2')

#### Merge df1 and df2 on the name column using the default suffixes

#### Merge df1 and df2 on the name column again, but this time define a set a suffixes for pandas to use

## Example: US States Data

In [ ]:
#import states_population.csv, states_areas.csv, states_abbrevs.csv from the link below
#https://bit.ly/3gsZdUS

#name dataframes to pop, areas, abbrevs and display using code below
display('pop.head()', 'areas.head()', 'abbrevs.head()')

### We'll be using merges and joins to calculate statistics about state population. Our ultimate goal is to calculate the state with the largest population density in 2010

#### First, we need to merge our tables together. Merge the pop and abbrevs tables. Drop the redundant abbreviation column

#### It's important to check if the data is valid. Check if there are any nulls in the table

#### As you can see, there are null values for population and state. Display a table filtered for rows with a null state and one for rows with a null population. Figure out what is wrong with the data using the displayed tables

#### The issues are that Puerto Rico and the entire USA area do not exist in the abbrev table and Puerto Rico lacks population data before 2000. In this case, we will drop the missing data because we only care about states. Drop any null rows from merged

#### Now you can continue merging tables. Merge the merged and areas tables and store the results in final

#### Check for nulls in the resulting table

#### The final table contains no nulls so you can continue. Filter the final table for rows where ages is total and year is 2010. You may use the query method. Store the result in pop_2010 and set the index to state

#### Now you can calculate the final result. Calculate and create a series 'density' from the columns of pop_2010. Then, sort the values of this series. Print the final result